.sidebar {
  width: 250px;
  height: 100vh;
  background: #2e323c;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-shadow: 4px 0 6px rgba(24, 31, 26, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fff;
  text-decoration: none;
}

.nav_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
    width: 100%;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      width: 100%;

      li {
        width: 100%;
        text-align: start;
        margin-bottom: 10px;

        a {
          display: flex;
          gap: 10px;
          padding: 12px 20px;
          width: 100%;
          color: #fff;
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          transition: background 0.3s ease-in-out;

          &.active {
            background: #4caf50;
          }

          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
}